.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 33px;
  background: linear-gradient(#FFFFE0, #FFA500)
}

.App > div > h3 {
  margin: 10px auto;
  text-align: center;
}

.App > div > ul > li {
  list-style-type: none;
}